/* general styling */

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Banner Area */

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
  h1 {
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1rem;
  }
  h3 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
    opacity: 0.6;
  }
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
  &--top {
    position: fixed;
    top: 0;
  }
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  &:hover {
    color: white;
    background: rgba(102, 177, 241, 0.8);
    transition: all 0.5s ease;
  }
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {
  .et-hero-tabs,
  .et-slide {
    h1 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
  }
  .et-hero-tab {
    font-size: 1rem;
  }
}
/* End Banner Area */

/* Start Section Header Styling */
.section_title {
  margin-bottom: 40px;
}

.section_title h2 {
  color: #333333;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

.section_title p {
  color: #333333;
  font-size: 14px;
  line-height: 25px;
  padding: 14px 0;
}

.choose_us .section_title {
  margin-top: 45px;
}
.brand_border .fa.fa-minus {
  color: #fff;
  font-size: 8px;
  height: 2px;
  background: #f8c01b none repeat scroll 0 0;
  width: 100px;
}
.brand_border .fas.fa-handshake {
  font-size: 14px;
  color: #000000;
}

/* End Section Header Styling */

/*services area*/
a {
  text-decoration: none !important;
}
.center-heading {
  text-align: center;
}

.center-heading .section-title {
  font-weight: 400;
  font-size: 28px;
  color: #3b566e;
  letter-spacing: 1.1px;
  line-height: 38px;
  margin-bottom: 20px;
}

.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #6f8ba4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #c7e5ff;
}

.center-text p {
  margin-bottom: 30px;
}

.services-small-item {
  display: block;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 40px 28px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.services-small-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-radius: 5px;
  background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}
.services-small-item.active:before,
.services-small-item:hover:before {
  opacity: 1;
}

.services-small-item.active .icon:before,
.services-small-item:hover .icon:before {
  opacity: 0.26;
}

.services-small-item.active .icon i,
.services-small-item:hover .icon i {
  background: -webkit-linear-gradient(#fff, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-small-item.active .services-title,
.services-small-item:hover .services-title {
  color: #ffffff;
}

.services-small-item.active p,
.services-small-item:hover p {
  color: #ffffff;
}

.services-small-item.active .button i,
.services-small-item:hover .button i {
  background-image: linear-gradient(135deg, #fff 0%, #fff 100%) !important;
  color: #2b708b !important;
}

.services-small-item:hover {
  margin-top: -15px;
}

.services-small-item .icon {
  width: 139px;
  height: 113px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-small-item .icon i {
  display: block;
  height: 67px;
  line-height: 67px;
  position: absolute;
  width: 100%;
  top: 22px;
  z-index: 2;
  font-size: 28px;
  background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-small-item .services-title {
  font-weight: 400;
  font-size: 16px;
  color: #3b566e;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services-small-item p {
  font-weight: 400;
  font-size: 14px;
  color: #6f8ba4;
  letter-spacing: 0.88px;
  line-height: 26px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 30px;
}

.services-small-item .button {
  position: relative;
  z-index: 2;
}

.services-small-item .button i {
  width: 42px;
  height: 42px;
  background-image: linear-gradient(135deg, #80d0c7 0%, #13547a 100%);
  line-height: 42px;
  text-align: center;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  color: #fff;
  padding-left: 3px;
}

.services-small-item:hover + .item-bg {
  bottom: 30px;
}

.item-bg {
  content: "";
  position: absolute;
  width: 80%;
  height: 15px;
  bottom: 15px;
  left: 0px;
  right: 0px;
  margin: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 1;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/*start about me*/
.et-slide .section_title_body p {
  font-size: 1rem;
  letter-spacing: 2px;
  line-height: 2rem;
}
/* Start Project */
.card {
  box-shadow: 5px 5px 15px rgba(#602566, 0.5);
  border-radius: 5px;
  overflow: hidden;
  height: 20rem;
}
/*end Project*/

/*Footer*/
footer {
  margin-top: 5rem;
}

/*Footer*/
