/* general styling */
a {
  text-decoration: none;
}
/* end of general styling */

/* navbar styling */

.hero-tabs {
  background-image: url("../img/banner/banner-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.hero-tabs h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.hero-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.hero-tabs-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.hero-tab {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1rem;
}

.hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}
/* end of navbar styling */

/* main section body */

.slide {
  height: 100vh;
  position: relative;
  background: #eee;
  padding: 2em 2em;
}
.slide .wrapper {
  margin-top: 10rem;
}

.slide h1 {
  padding: 20px 0;
  font-size: 2rem;
  margin: 0;
  letter-spacing: 0.8rem;
}
.slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.slide p {
  font-size: 1.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;
}

/* Start About Area */

.about-image {
  height: 35em;
}

/* End About Area */

/* End main section body */

/* start service section */
.service-title {
  text-align: center;
  margin-bottom: 90px;
}
.webcoderskull-item {
  text-align: center;
  border: 1px solid #6a78dc;
  margin-bottom: 45px;
  padding: 35px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(114, 120, 220, 0.12),
    0 1px 2px rgba(114, 120, 220, 0.24);
}
.webcoderskull-item:hover {
  box-shadow: 0 14px 28px rgba(114, 120, 220, 0.25),
    0 10px 10px rgba(114, 120, 220, 0.22);
}
.learn-more {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  color: #474747;
}
.webcoderskull-item h3 a {
  color: #474747;
}
.webcoderskull-item:hover h3 a {
  color: #5b69cb;
}
.webcoderskull-item .fa {
  font-size: 35px;
  margin-bottom: 30px;
}
/* portfolio-content section */
.portfolio-slide {
  height: 60vh;
  position: relative;
  background: #eee;
  padding: 2em 2em;
}
.title {
  text-align: center;
}
.portfolio-content-one {
  margin-top: 13rem;
}
.portfolio-content-two {
  margin-top: 13rem;
}
.portfolio-content-three {
  margin-top: 13rem;
}
