/* Global font */
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Lato|Roboto+Mono");
/*Start global*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #eee;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
body {
  width: 100%;
  height: 100%;
  background: url("../assets/img/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}

/* nav styling */

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width: 56.25em) {
  .navigation__button {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__button {
    top: 3rem;
    right: 3rem;
  }
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#34495e, #8411e2);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media only screen and (max-width: 56.25em) {
  .navigation__background {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__background {
    top: 3.5rem;
    right: 3.5rem;
  }
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #55c57a;
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/*END of nav styling */

/* btn styling */
.btn-text:link,
.btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.btn-text:hover {
  
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* end of btn stying */
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Lato", sans-serif;
  font-family: "Roboto Mono", monospace;
  color: #eee;
}
body {
  width: 100%;
  height: 100%;
  background: url("../assets/img/sitebg.jpg") no-repeat center fixed;
  background-size: cover;
}
section {
  padding: 6rem;
}
a {
  text-decoration: none;
  color: #eee;
}
p {
  font-size: 1.8rem;
  font-weight: 300;
}
img {
  width: 100%;
}
/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.section-heading {
  text-align: center;
  margin-bottom: 10rem;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.75);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}

.section-heading h1::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  bottom: -1.2rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
}
.has-margin-right {
  margin-right: 5rem;
}
/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100vh;
}
.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  margin: 0 2rem;
}
.landing-text_right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
.landing_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  width: 40rem;
}

.landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  padding: 0 0.4rem;
}
.landing-text_left {
  position: absolute;
  width: 50%;
  height: 100%;
}
.landing-text h1 {
  font-size: 6rem;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to top, #ffe838, #fd57bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1rem;
}
.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
}
/*End header*/

/*Start about*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}
.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}
.profile-img {
  flex: 1;
  margin-right: 5rem;
}

.about-details {
  flex: 1;
}
.social-media {
  margin-top: 5rem;
}
.social-media i {
  font-size: 3rem;
  transition: color 650ms;
  transition:all .3s ease-in;
}
.fa-linkedin-in:hover {
  color: #0077B5;
  transform: translateY(-.5rem);
}
.fa-twitter-square:hover {
  color: #38a1f3;
  transform: translateY(-.5rem);
}
.fa-dribbble-square:hover {
  color: #ea4c89;
  transform: translateY(-.5rem);
}
/*End about*/

/*Start services*/
.my-skills {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.skill h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem -2px 2rem 0;
}
.icon-container {
  animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  width: 10rem;
  height: 10rem;
  border: 1px solid #ffe838;
  background-color: #8e44ad;
  margin-bottom: 2rem;
  display: flex;
  border-radius: 2rem;
}
.icon-container i {
  
  color: #ffe838;
  font-size: 5rem;
  margin: auto;
  
}
/*End services*/

/*Start portfolio*/
.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}
.profile-img {
  width: 50rem;
  flex: 1;
}
.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}
.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}
.portfolio-description .cta:hover {
  color: #2f67cd;
}
/*End services*/

/*Start timeline*/
.timeline ul {
  border-left: 4px solid #ffe838;
  border-radius: 0.8rem;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 0 auto;
  position: relative;
  padding: 5rem;
  list-style: none;
  text-align: left;
  width: 70%;
}
.timeline h1 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.3;
}
.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -21rem;
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}
.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #fd57bf;
  border-radius: 100%;
  left: -7.7rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: #313534;
}
/*End timeline*/

/*Start contact*/
/*End contact*/

/*Start footer*/
.copyright {
  width: 100%;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}
.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
}
.up i {
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}
.copyright p {
  font-size: 1.4rem;
}
/*End footer*/

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgb(253, 87, 191, 0.99);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgb(253, 87, 191, 0);
  }
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }    
}
/*End animations*/

/*Start media queries*/
/*End media queries*/

/* media queries */
@media screen and (max-width: 768px) {
  body {
    background: url("../assets/img/sitebg2.jpg") no-repeat center fixed;
    background-size: cover;
  }
  .landing-text_left {
    width: 100%;
    top: 0;
  }
  .landing-text_right {
    display: none;
  }
  .landing-text h1 {
    font-size: 15rem;
  }
  .landing-text h6 {
    font-size: 1.7rem;
  }
  .nav-list {
    flex-direction: column;
  }
  li {
    margin: 2rem 0;
  }
  .nav-link {
    font-size: 4.5rem;
  }
  .about-heading h1 {
    font-size: 8rem;
  }
  .section-heading h1 {
    font-size: 3rem;
  }
  .about-details .nav-list {
    flex-direction: initial;
  }
  .about-details li {
    margin: 0 2rem;
  }
  .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .icon-container i {
    font-size: 4rem;
  }
  .timeline ul {
    margin: 0 0 0 auto;
  }
  .timeline .date::before {
    left: -20rem;
  }
  .timeline .date::after {
    left: -5.9rem;
  }
}

@media screen and (max-width: 600px) {
  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }
  .landing-text h1 {
    font-size: 8rem;
  }
  .landing-text h6 {
    font-size: 1.4rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }
  .about .container {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 7rem 0;
  }
  .portfolio-item {
    flex-direction: column;
  }
  .profile-img {
    margin: 0 0 2rem 0;
    order: 1;
  }
  .portfolio-description {
    margin: 0;
    order: 2;
  }
  .timeline p {
    font-size: 1.6rem;
  }
  .timeline .date::before {
    font-size: 1.3rem;
  }
}
