html ,body{
height: 100%; width: 100%; margin: 0;
}
h1{
	margin-top: 0px;
	font-family: Impact, Charcoal, sans-serif;
}
.heading{
	text-align: center;
	padding-top: 10%;
	display: block;

}
.section1{
	height: 100%;
	width: 100%;
	
	
	background-image:url("images/autumnal_scene.JPg");
	background-size: cover;
	background-attachment: fixed;
}

.section2{
	height: 50%;
	width: 100%;
	background-color: #DCDCDC;
	text-align: center;	
	margin-top: -1.5%;
}
.section3{
	height: 50%;
	width: 100%;
	background-image:url("images/landscape.JPg");
	background-size: cover;
	background-attachment: fixed;
}

.section4{
	height: 50%;
	width: 100%;
	background-color: #A9A9A9;
	text-align: center;
	margin-top: -1.6%;
}

.section5{
	height: 50%;
	width: 100%;
	background-color: grey;
	background-image:url("images/come.JPg");
	background-size: cover;
	background-attachment: fixed;
}
