	html, body { height: 100%; width: 100%; margin: 0; }
	body{
		font:1em "helvetica",sans-serif; 
		line-height: 1.4;
		font-weight: 200;
		font-size: 15px;
		
	}
	h1{
		margin-top: 0px;
		font-family: Impact, Charcoal, sans-serif;
	}
	
.nav{
	height: 7%;
	width: 100%;
	background-color: grey;
	position: fixed;
	 background-color: rgba(0, 0, 0, 0.3);
	z-index: 99;
}
.nav li{
 float: left;
 list-style-type: none;
 margin-right: 50px;
 line-height: 15px;

}
.nav a{
	color: white;
	text-decoration: none;
}






.head{

	height: 100%;
	width: 100%;
	background-image:url("images/Laptop coffee cup agenda.JPg");
	background-size: cover;
	background-attachment: fixed;

}
.heading{
	color: white;
	text-align: center;
	padding-top: 10%;

}
.section1{
	height: 100%;
	width: 50%;
	float: left;
	background-color: black;
	background-image:url("images/Laptop coffee cup.JPg");
	background-size: cover;
	background-attachment: fixed;
}

.section2{
	height: 100%;
	width: 50%;
	float: right;
	background-color: yellow;
	text-align: center;

}
.section3{
	height: 100%;
	width: 50%;
	float: left;
	background-color: grey;
	background-image:url("images/download.JPg");
	background-size: cover;
	background-attachment: fixed;
}

.section4{
	height: 100%;
	width: 50%;
	float: right;
	background-color: grey;
	text-align: center;
}
.section5{
	height: 100%;
	width: 50%;
	float: left;
	background-color: grey;
	background-image:url("images/Typing_computer_screen_reflection.JPg");
	background-size: cover;
	background-attachment: fixed;
}

.section6{
	height: 100%;
	width: 50%;
	float: right;
	background-color: yellow;

}