/* import fonts from fonts.css file */
@import url(.././vendor/fonts.css);
body {
  font: normal 500 15px/2px var(--roboto);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* start navigation */
.et-hero-tabs {
  background-image: url("../../img/banner/banner-image.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  position: relative;
}

.et-hero-tabs h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-hero-tabs h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #66b1f1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

/* end navigation */
/* Banner Area */
.et-slide {
  padding: 5rem 0;
  position: relative;
  background: #eee;
}

.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-slide h3 {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  padding: 10px 0;
}

.et-slide h4 {
  line-height: 1.3rem;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}

/* Services Area */
.webcoderskull-item {
  height: 25rem;
  text-align: center;
  border: 1px solid #6a78dc;
  margin-bottom: 45px;
  padding: 35px 14px;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-box-shadow: 0 1px 3px rgba(114, 120, 220, 0.12), 0 1px 2px rgba(114, 120, 220, 0.24);
          box-shadow: 0 1px 3px rgba(114, 120, 220, 0.12), 0 1px 2px rgba(114, 120, 220, 0.24);
}

.webcoderskull-item:hover {
  -webkit-box-shadow: 0 14px 28px rgba(114, 120, 220, 0.25), 0 10px 10px rgba(114, 120, 220, 0.22);
          box-shadow: 0 14px 28px rgba(114, 120, 220, 0.25), 0 10px 10px rgba(114, 120, 220, 0.22);
}

/* End Services Area */
/* Projects area me */
.project_icons {
  margin-top: 1rem;
}

.project_icons i {
  font-size: 1.4rem;
}

.main-timeline {
  position: relative;
}

.main-timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .timeline {
  width: 50%;
  margin: 0 0 20px 20px;
  float: right;
}

.main-timeline .timeline-content {
  color: #000;
  background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5), transparent);
  text-align: center;
  min-height: 125px;
  padding: 30px 20px 30px 45px;
  border-radius: 15px;
  border: 2px solid #000;
  display: block;
  position: relative;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-icon {
  color: #fff;
  background-color: #ff4f00;
  font-size: 37px;
  line-height: 65px;
  height: 75px;
  width: 75px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  left: -38px;
  top: 50%;
}

.main-timeline .timeline-icon:before,
.main-timeline .timeline-icon:after {
  content: "";
  background-color: #000;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -12px;
}

.main-timeline .timeline-icon:after {
  top: calc(100% + 6px);
}

.main-timeline .title {
  color: #ff4f00;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 5px;
}

.main-timeline .description {
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even) {
  float: left;
  margin: 0 20px 20px 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
  padding: 30px 45px 30px 20px;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  right: -39px;
  left: auto;
}

.main-timeline .timeline:nth-child(4n + 2) .timeline-icon {
  background-color: #953fbe;
}

.main-timeline .timeline:nth-child(4n + 2) .title {
  color: #953fbe;
}

.main-timeline .timeline:nth-child(4n + 3) .timeline-icon {
  background-color: #00b29c;
}

.main-timeline .timeline:nth-child(4n + 3) .title {
  color: #00b29c;
}

.main-timeline .timeline:nth-child(4n + 4) .timeline-icon {
  background-color: #02affe;
}

.main-timeline .timeline:nth-child(4n + 4) .title {
  color: #02affe;
}

@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    width: 100%;
    padding-top: 40px;
  }
  .main-timeline .timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 45px 20px 20px;
  }
  .main-timeline .timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon {
    font-size: 28px;
    left: 50%;
    top: -39px;
    right: auto;
    -webkit-transform: translateY(0) translateX(-50%);
            transform: translateY(0) translateX(-50%);
  }
  .main-timeline .timeline .timeline-icon:before,
  .main-timeline .timeline .timeline-icon:after {
    top: 50%;
    left: -12px;
    -webkit-transform: translateY(-50%) translateX(0);
            transform: translateY(-50%) translateX(0);
  }
  .main-timeline .timeline .timeline-icon:after {
    left: calc(100% + 6px);
  }
}

@media screen and (max-width: 576px) {
  .main-timeline .title {
    font-size: 18px;
  }
}

/* end of Projects area me */
/* Footer Area */
#main-footer {
  height: 28vh;
  padding-top: 2em;
  padding-bottom: 0;
  background: #30336b;
  color: #ffffff;
  text-align: center;
}

#main-footer a {
  color: #130f40;
  text-decoration: none;
}

#main-footer p {
  font: normal 500 15px/2px var(--roboto);
  letter-spacing: 0.3rem;
  margin: 20px 0;
}

ul#social li {
  display: inline;
}

.fa {
  padding-bottom: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
  float: auto;
}

.fa:hover {
  opacity: 0.7;
}

/* End of Footer Area */
/*# sourceMappingURL=main.css.map */