@media screen and (max-width: 700px) {
  .navigation {
    &__menus {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
    }
    &__logo {
      margin: 1rem 1rem;

      img {
        height: 40px;
      }
    }
    &__mobile_nav {
      display: block !important;
    }
    &__link_mobile {
      display: inline-block;
      padding: 10px 0px;
      width: 100%;
      transition: 0.5s;
      hr {
        opacity: 0.2;
      }
      &:hover {
        animation: menumove 0.5s linear;
      }
    }
    &__link-mobile_btn {
      position: absolute;
      right: 1.5rem;
      top: 1rem;
      font-size: 1.5rem;
    }
  }
  .more_about {
    text-align: center;
  }
}
