.services {
  height: 70vh;
  margin-top: 1rem;
  img {
    height: 100px;
  }
}
.services .card {
  text-align: center;
  height: 20rem;
  padding: 10px 0;
}
.more_about {
  margin-top: 2rem;
  height: 60vh;
  img {
    height: 20rem;
  }
}
